# Default
*               text=auto
# Text Files
*.css           text diff=css
*.htm           text diff=html
*.html          text diff=html
*.js            text eol=lf
*.md            text
*.sh            text eol=lf
