<table class="min-w-full divide-y divide-gray-300 dark:divide-gray-600">
  <thead>
    <tr>
      <th
        scope="col"
        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-white sm:pl-6 hover:bg-neutral-900/40">
        Field
      </th>
      <th
        scope="col"
        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white hover:bg-neutral-900/40">
        Value
      </th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in network_info.items() %}
    <tr class="hover:bg-neutral-900/40">
      <td class="relative py-4 pl-4 pr-3 text-sm sm:pl-6 font-medium text-gray-900 dark:text-neutral-200">{{ key }}</td>
      <td class="px-3 py-3.5 text-sm text-gray-500 dark:text-gray-400">{{ value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
