<!doctype html>
<html class="h-full" lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %} {{ title }}</title>

    <link rel="icon" href="/static/badge.png" type="image/x-icon" />

    {% block extrahead %}{% endblock %} {% block extrastyle %}{% endblock %}
  </head>

  <body
    class="font-mono leading-none text-blue-300 antialiased bg-white dark:bg-neutral-950"
  >
    <div class="min-h-full flex flex-col">
      {% block nav %} {% include 'base/nav.html' %} {% endblock nav %}

      <main class="flex-grow">
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          {% block basecontent %}
          <div id="niapi">{% block body %} {% endblock body %}</div>
          {% endblock basecontent %}
        </div>
      </main>

      {% block footer %} {% include 'base/footer.html' %} {% endblock footer %}
    </div>
  </body>

  <script>
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
      document.getElementById("light-mode-toggle").style.display = "block";
      document.getElementById("dark-mode-toggle").style.display = "none";
    } else {
      document.documentElement.classList.remove("dark");
      document.getElementById("dark-mode-toggle").style.display = "block";
      document.getElementById("light-mode-toggle").style.display = "none";
    }

    function toggleDarkMode() {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
      document.getElementById("light-mode-toggle").style.display = "block";
      document.getElementById("dark-mode-toggle").style.display = "none";
    }

    function toggleLightMode() {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
      document.getElementById("dark-mode-toggle").style.display = "block";
      document.getElementById("light-mode-toggle").style.display = "none";
    }
  </script>

  {% block extrajs %} {% endblock extrajs %}
</html>
