{% set active_page = active_page|default('home') -%}
<!-- https://feathericons.dev/ -->

<header class="bg-white dark:bg-neutral-900">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex flex-1">
      <div class="hidden lg:flex lg:gap-x-12">
        <a
          href="/home"
          class="text-sm font-semibold leading-6 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon mr-2"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          Home
        </a>
        <a
          href="/about"
          class="text-sm font-semibold leading-6 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon mr-2"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" x2="12.01" y1="17" y2="17"></line>
          </svg>
          About
        </a>
      </div>

      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-blue-700"
        >
          <span class="sr-only">Main Menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">NIAPI</span>
      <img class="h-8 w-auto" src="/static/badge.png" alt="" />
    </a>

    <div class="flex flex-1 justify-end">
      <button
        type="button"
        class="text-sm font-semibold leading-6 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 mr-4"
        onclick="toggleLightMode()"
        id="light-mode-toggle"
        style="display: none"
      >
        <span class="sr-only">Light Mode</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" x2="12" y1="1" y2="3"></line>
          <line x1="12" x2="12" y1="21" y2="23"></line>
          <line x1="4.22" x2="5.64" y1="4.22" y2="5.64"></line>
          <line x1="18.36" x2="19.78" y1="18.36" y2="19.78"></line>
          <line x1="1" x2="3" y1="12" y2="12"></line>
          <line x1="21" x2="23" y1="12" y2="12"></line>
          <line x1="4.22" x2="5.64" y1="19.78" y2="18.36"></line>
          <line x1="18.36" x2="19.78" y1="5.64" y2="4.22"></line>
        </svg>
      </button>

      <button
        type="button"
        class="text-sm font-semibold leading-6 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 mr-4"
        onclick="toggleDarkMode()"
        id="dark-mode-toggle"
        style="display: block"
      >
        <span class="sr-only">Dark Mode</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </button>

      <div class="relative inline-block text-left">
        <div>
          <button
            type="button"
            class="flex items-center rounded-full bg-white dark:bg-neutral-900 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-100"
            id="menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="sr-only">Open API Menu</span>
            &nbsp;API&nbsp;
            <!-- https://feathericons.dev/?search=more-vertical&iconset=feather -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="main-grid-item-icon pointer-events-none"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="12" cy="12" r="1"></circle>
              <circle cx="12" cy="5" r="1"></circle>
              <circle cx="12" cy="19" r="1"></circle>
            </svg>
          </button>
        </div>

        <div
          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white dark:bg-neutral-800 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
          id="menu"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <a
              href="/api/elements"
              class="text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 block px-4 py-2 text-sm"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              >Elements</a
            >
            <a
              href="/api/swagger"
              class="text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 block px-4 py-2 text-sm"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1"
              >Swagger</a
            >
            <a
              href="/api/redoc"
              class="text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500 block px-4 py-2 text-sm"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2"
              >ReDoc</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 left-0 z-10 w-full overflow-y-auto bg-white px-6 py-6"
    >
      <div class="flex items-center justify-between">
        <div class="flex flex-1">
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-blue-700">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt=""
          />
        </a>
        <div class="flex flex-1 justify-end">
          <a
            href="/api"
            class="text-sm font-semibold leading-6 text-blue-400 hover:text-blue-900 dark:text-blue-200 dark:hover:text-blue-500"
            >API <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
      <div class="mt-6 space-y-2">
        <a
          href="/home"
          class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-400 hover:bg-blue-50"
          >Home</a
        >
        <a
          href="/about"
          class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-400 hover:bg-blue-50"
          >About</a
        >
      </div>
    </div>
  </div>
</header>

{% block extrajs %}
<script>
  function toggleMobileMenu() {
    let mobileMenu = document.getElementById("mobile-menu");
    let mobileMenuButton = document.getElementById("mobile-menu-button");

    if (mobileMenu.classList.contains("hidden")) {
      mobileMenu.classList.remove("hidden");
      mobileMenuButton.setAttribute("aria-expanded", "true");
    } else {
      mobileMenu.classList.add("hidden");
      mobileMenuButton.setAttribute("aria-expanded", "false");
    }
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropdownTrigger = document.querySelector(".dropdown");
    const dropdownContent = document.querySelector(".dropdown-content");

    const showDropdown = () => {
      dropdownContent.classList.add("transform", "opacity-100", "scale-100");
      dropdownContent.classList.remove("transform", "opacity-0", "scale-95");
      dropdownContent.style.display = "block";
    };

    const hideDropdown = () => {
      dropdownContent.classList.add("transform", "opacity-0", "scale-95");
      dropdownContent.classList.remove("transform", "opacity-100", "scale-100");
      setTimeout(() => {
        dropdownContent.style.display = "none";
      }, 100);
    };

    if (dropdownTrigger) {
      dropdownTrigger.addEventListener("mouseenter", showDropdown);
      dropdownTrigger.addEventListener("mouseleave", hideDropdown);
      dropdownContent.addEventListener("mouseenter", showDropdown);
      dropdownContent.addEventListener("mouseleave", hideDropdown);
    }
  });

  let button = document.getElementById("menu-button");
  let menu = document.getElementById("menu");

  button.addEventListener("click", function (event) {
    let isShown = menu.classList.toggle("hidden");
    button.setAttribute("aria-expanded", !isShown);
  });

  window.onclick = function (event) {
    if (!event.target.matches("#menu-button")) {
      if (!menu.classList.contains("hidden")) {
        menu.classList.add("hidden");
        button.setAttribute("aria-expanded", false);
      }
    }
  };
</script>
{% endblock %}
